.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .side-panel {
    width: 40%; 
    margin-left: 20px; 
  }

  .search-container{

    margin-bottom: 10px;

  }
  